<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{ site.title }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta property="og:description" content="{{ site.description }}" />

        {% include 'preload' %}

        <title>{{ site.title }}</title>

        <link rel="stylesheet" href="soon.css">

        {% if site.social %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css">
        {% endif %}

        {% if site.background %}
        <style type="text/css">
            body { background: url("{{ site.background }}") top left / cover no-repeat; }
        </style>
        {% endif %}

        {% include 'head' %}
    </head>
    <body class="bg-background font-base font-normal leading-normal text-base text-text">
        <div class="absolute top-0 left-0 bottom-0 right-0 flex items-center justify-center" id="soon-box">
            <div class="relative text-center md:my-0 md:mx-auto md:w-640px print:my-0 print:mx-auto print:w-640px" id="soon-box-wrapper">
                <section class="py-6 main">
                    {% if site.logo %}
                        <div class="pb-4 brand">
                            <img src="{{ site.logo }}" class="block max-h-100px w-auto h-auto my-0 mx-auto">
                        </div>
                    {% endif %}

                    <div class="pb-4 last:pb-0 text-2xl leading-normal content">
                        {{ content }}
                    </div>
                </section>

                {% if site.countdown %}
                    {% include 'countdown' %}
                {% endif %}

                {% if site.subscribe %}
                    {% include 'subscribe' %}
                {% endif %}

                {% if site.social %}
                    {% include 'social' %}
                {% endif %}
            </div>
        </div>

        <script type="text/javascript">
            var wrappers = document.getElementsByClassName("soon-box-wrapper");
            [].forEach.call(wrappers, function (wrapper) {
                var h = wrapper.offsetHeight;
                wrapper.parentNode.style["min-height"] = h + "px";
            });
        </script>
    </body>
</html>
