<section class="py-6 social">
  <h2>Follow us</h2>
  {% if site.social.facebook %}
    <a href="https://facebook.com/{{ site.social.facebook }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-facebook-f"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.twitter %}
    <a href="https://twitter.com/{{ site.social.twitter }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-twitter"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.tiktok %}
    <a href="https://tiktok.com/{{ site.social.tiktok }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-tiktok"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.instagram %}
    <a href="https://instagram.com/{{ site.social.instagram }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-instagram"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.pinterest %}
    <a href="https://pinterest.com/{{ site.social.pinterest }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-pinterest-p"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.snapchat %}
    <a href="https://snapchat.com/add/{{ site.social.snapchat }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-snapchat"></span>
      </span>
    </a>
  {% endif %}
  {% if site.social.linkedin %}
    <a href="https://linkedin.com/{{ site.social.linkedin }}" class="button">
      <span class="w-6 h-6">
        <span class="fab fa-linkedin"></span>
      </span>
    </a>
  {% endif %}
</section>